.job-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.filter-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;
    margin-bottom: 10px;
    max-width: 20rem;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}